<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelManagerSystem.Properties.Settings.hotelManagementConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\database\hotelManagement.accdb;User ID=admin;Jet OLEDB:Database Password=1234"
            providerName="System.Data.OleDb" />
        <add name="HotelManagerSystem.Properties.Settings.HotelManagementSystemConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\HotelManagementSystem.accdb;User ID=admin;Jet OLEDB:Database Password=1234"
            providerName="System.Data.OleDb" />
        <add name="HotelManagerSystem.Properties.Settings.hotelSystemConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\hotelSystem.accdb;Jet OLEDB:Database Password=1234"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>